<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

<body>
    <%- include('../partials/nav.ejs')%>
    <div class="about content">
        <h2>Building a Simple CRUD app with Node, Express, and MongoDB</h2>
        <p>Express is a framework for building web applications on top of Node.js. It simplifies the server creation
            process that
            is already available in Node. In case you were wondering, Node allows you to use JavaScript as your
            server-side
            language.
            <br /><br />
            MongoDB is a database. This is the place where you store information for your websites (or applications).
            <br /><br />
            CRUD is an acronym for Create, Read, Update and Delete. It is a set of operations we get servers to execute
            (POST, GET,
            PUT and DELETE requests respectively). This is what each operation does:
            <br /><br />
            Create (POST) - Make something<br /><br />
            Read (GET)- Get something<br /><br />
            Update (PUT) - Change something<br /><br />
            Delete (DELETE)- Remove something
        </p>
    </div>
    <%- include('../partials/footer.ejs')%>

</body>

</html>